web/WEB-INF/wsdl/localhost_8080/PoliticoNaMao/DescProposicao.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="buscaProposicaoAutor" type="tns:buscaProposicaoAutor"/>

<xs:element name="buscaProposicaoAutorResponse" type="tns:buscaProposicaoAutorResponse"/>

<xs:complexType name="buscaProposicaoAutor">
<xs:sequence>
<xs:element name="idProposicao" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscaProposicaoAutorResponse">
<xs:sequence>
<xs:element name="return" type="tns:proposicaoAutor" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="proposicaoAutor">
<xs:sequence>
<xs:element name="codTipoAutor" type="xs:int"/>
<xs:element name="idAutor" type="xs:int"/>
<xs:element name="idPropAutor" type="xs:long"/>
<xs:element name="idProposicao" type="xs:int"/>
<xs:element name="nomeAutor" type="xs:string" minOccurs="0"/>
<xs:element name="siglaPartidoAutor" type="xs:string" minOccurs="0"/>
<xs:element name="siglaUFAutor" type="xs:string" minOccurs="0"/>
<xs:element name="tipoAutor" type="xs:string" minOccurs="0"/>
<xs:element name="uriAutor" type="xs:string" minOccurs="0"/>
<xs:element name="uriPartidoAutor" type="xs:string" minOccurs="0"/>
<xs:element name="uriProposicao" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>